<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="assets/ampath1.png" style="width: 1em;" alt="logo"></a>
      <a class="navbar-brand" href="#">POC Patient Feedback</a>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" >
      <h2>Thank you for your feedback</h2>
      <h3>Please hand the tablet back to the clinic staff</h3>
      <br><br>
      <div style="text-align: left;" class="footer">
      <a routerLink="/clinic">Start new survey</a>
      <hr>
    </div>
    </div>
    </div>
</div>