hr{
  background-color: #039be5
}
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h3 {
  font-size: 1.7em;
  color: #607D8B;
  margin-bottom: 0;
  text-align: left;
}
h4 {
  font-size: 1.2em;
  color: #999;
  margin-left: 0;
  text-align:left; 
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}